<form (ngSubmit)="onSubmit()" [ngFormModel]="roleForm">
  <div class="row">
    <div class="col-sm-12 m-b-1">
      <h2 [ngSwitch]="isNew">
        <template [ngSwitchWhen]="true">New Role</template>
        <template ngSwitchDefault>Edit Role</template>
      </h2>
    </div>
    <div class="col-sm-12" *ngIf="errorMessages">
      <div *ngFor="let message of errorMessages">
        {{message}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-2">
      <template [ngIf]="!isNew">
            <input type="hidden" class="form-control" [(ngModel)]="role.id" />
            <input type="hidden" class="form-control" [(ngModel)]="role.version" />
          </template>
      <md-input class="form-control" placeholder="Role Name" [(ngModel)]="role.name" ngControl="name">
        <md-hint *ngIf="name.hasError('required') && name.touched">
          <i>Required</i>
        </md-hint>
        <md-hint *ngIf="(loginInfo | async)?.error">
          <i>{{ (loginInfo | async)?.error | fieldError:'name' }}</i>
        </md-hint>
      </md-input>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-2">
      <md-input class="form-control" [(ngModel)]="role.description" placeholder="Description" ngControl="description">
        <md-hint *ngIf="description.hasError('required') && description.touched">
          <i>Required</i>
        </md-hint>
        <md-hint *ngIf="(loginInfo | async)?.error">
          <i>{{ (loginInfo | async)?.error | fieldError:'description' }}</i>
        </md-hint>
      </md-input>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <table class="md-data-table">
        <thead>
          <tr>
            <th class="md-text-cell">Resource</th>
            <th class="md-text-cell" *ngFor="let accessLevel of accessLevels">
              <md-checkbox
              [(ngModel)]="selectAllAccessLevel[accessLevel]"
              (change)="toggleSelectAllResource($event,accessLevel)">{{accessLevel}}</md-checkbox>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resource of resources">
            <td class="md-text-cell">{{resource.name}}</td>
            <template ngFor let-accessLevel [ngForOf]="accessLevels">
              <td class="md-text-cell" *ngIf="isValidPermission(resource, accessLevel)">
                    <md-checkbox [(ngModel)]="permissionGroups[resource.name][accessLevel].selected"
                      (change)="resetSelectAll($event,accessLevel)"></md-checkbox>
               </td>
               <td class="md-text-cell" *ngIf="!isValidPermission(resource, accessLevel)">
                    <md-checkbox indeterminate="true" disabled="true"></md-checkbox>
               </td>
            </template>
          </tr>
          <tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row p-b-2">
    <div class="col-sm-12 col-lg-8 center-xs">
      <div class="center-xs">
         <button type="submit" md-raised-button color="accent">SAVE</button>
      </div>
    </div>
  </div>
</form>