<div>
  <h1>Login</h1>
  <form role="form" [ngFormModel]="loginForm"  (submit)="login($event)">
    <div class="row form-group" [ngClass]="{ 'has-error' : !username.valid && username.touched }">
      <label class="form-control-label col-sm-4 col-md-3 col-lg-2" for="username">Username</label>
      <div class="col-sm-8 col-md-4 col-lg-3">
        <input id="username" type="username" class="form-control" placeholder="Username or email" ngControl="username">
        <small class="text-help text-danger" *ngIf="username.hasError('required') && username.touched">Required</small>
        <small class="text-help text-danger" *ngIf="(loginInfo | async)?.error">{{ (loginInfo | async)?.error | fieldError:'username' }}</small>
      </div>
    </div>
    <div class="row form-group" [ngClass]="{ 'has-error' : !password.valid && password.touched }">
      <label class="form-control-label col-sm-4 col-md-3 col-lg-2" for="password">Password</label>
      <div class="col-sm-8 col-md-4 col-lg-3">
        <input id="password" type="password" class="form-control" placeholder="Password" ngControl="password">
        <small class="text-help text-danger" *ngIf="password.hasError('required') && password.touched">Required</small>
        <small class="text-help text-danger" *ngIf="password.hasError('minlength') && password.touched">Must be at least 8 characters</small>
        <small class="text-help text-danger" *ngIf="(signupInfo | async)?.error">{{ (signupInfo | async)?.error | fieldError:'password' }}</small>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-4 col-lg-3 offset-sm-4 offset-md-4 offset-lg-2">
          <button type="submit" class="btn btn-primary" [ngClass]="{'disabled' : !loginForm.valid }">Login</button>
          <a [routerLink]="['/Signup']"><small>Click here to signup</small></a>
        </div>
    </div>
  </form>
</div>