<div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Reset your password</h1>

      <div class="alert alert-danger">
        <strong>E-Mail address isn't registered!</strong> Please check and try again.
      </div>

      <div class="alert alert-warning">
        <p>Enter the e-mail address you used to register.</p>
      </div>

      <div class="alert alert-success">
        <p>Check your e-mails for details on how to reset your password.</p>
      </div>

      <form name="form" role="form">
        <div class="form-group">
          <md-input class="form-control" placeholder="Username/Email" type="text" ngControl="username">
            <md-hint *ngIf="username.hasError('required') && username.touched">
              <i>Required</i>
            </md-hint>
            <md-hint *ngIf="(loginInfo | async)?.error">
              <i>{{ (loginInfo | async)?.error | fieldError:'username' }}</i>
            </md-hint>
          </md-input>
          <button md-raised-button [ngClass]="{'disabled' : !loginForm.valid }"
                  color="accent">RESET</button>
        </div>
      </form>
    </div>
  </div>
</div>
