<div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 >Reset password</h1>

      <div class="alert alert-danger" >
        <strong>The password reset key is missing.</strong>
      </div>

      <div class="alert alert-warning">
        <p >Choose a new password</p>
      </div>

      <div class="alert alert-danger">
        <p >Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
      </div>

      <div class="alert alert-success">
        <p><strong>Your password has been reset.</strong> Please <a class="alert-link">sign in</a>.</p>
      </div>

      <div class="alert alert-danger"  >
        The password and its confirmation do not match!
      </div>

      <div >
        <form  name="form" role="form" novalidate>
          <div class="form-group">
            <label class="control-label" for="password" >New password</label>
            <input type="password" class="form-control" id="password" name="password">
            <div>
              <p class="help-block">
                Your password is required.
              </p>
              <p class="help-block">
                Your password is required to be at least 4 characters.
              </p>
              <p class="help-block">
                Your password cannot be longer than 50 characters.
              </p>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="confirmPassword">New password confirmation</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
            <div>
              <p class="help-block">
                Your password confirmation is required.
              </p>
              <p class="help-block">
                Your password confirmation is required to be at least 4 characters.
              </p>
              <p class="help-block">
                Your password confirmation cannot be longer than 50 characters.
              </p>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" >Reset Password</button>
        </form>
      </div>

    </div>
  </div>
</div>
