<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-toolbar [routerLink]="['/Home']">
      <h3>{{title}}</h3>
    </md-toolbar>
    <md-nav-list *ngIf="(auth|async)?.authenticated">
      <a md-list-item [routerLink]="['/User']">Users</a>
      <a md-list-item [routerLink]="['/Role']">Roles</a>
    </md-nav-list>
  </md-sidenav>
  <md-content #content>
    <md-toolbar color="primary" class="fixed-toolbar">
      <button md-icon-button *ngIf="(auth|async)?.authenticated"  (click)="sidenav.toggle()">
        <md-icon class="md-24" >menu</md-icon>
      </button>
      <span breakAction="hide" *ngIf="!sidenav.opened">{{title}}</span>
      <span class="toolbar-filler"></span>
      <template [ngIf]="!(auth|async)?.authenticated">
        <button md-button [routerLink]="['/Signup']">SIGN UP</button>
        <button md-button [routerLink]="['/Login']">LOGIN</button>
      </template>
      <template [ngIf]="(auth|async)?.authenticated">
        <button md-button (click)="logout()">LOGOUT {{(auth|async)?.user.firstName}}</button>
      </template>
    </md-toolbar>
    <div class="container-fluid app-main-content">
      <router-outlet></router-outlet>
    </div>
  </md-content>
</md-sidenav-layout>
